    /* unutk halaman body*/
    body {
        font-family: Arial, sans-serif;
        /*model font yang di gunakan*/
        margin: 0;
        /*menghilangkan margin yang ada*/
        padding: 0;
        /*menghilangkan padding yang ada*/
        background-color: #987070;
        /* Menetapkan warna latar belakang untuk badan */
    }

    /* untuk bagian headernya atau di tempat judul */
    header {
        position: sticky;
        /* Menjaga header di atas saat menggulir */
        margin: 5px;
        /* Menambahkan margin di sekitar header */
        padding: 20px;
        /* Menambahkan padding di dalam header */
        top: 0;
        /* Memposisikan header di bagian atas */
        height: 50px;
        /* Menetapkan tinggi header */
        width: auto;
        /* Menetapkan lebar header menjadi otomatis */
        background-color: #DBB5B5;
        /* Menetapkan warna latar belakang header */
        border-radius: 5px;
        /* Membulatkan sudut-sudut header */
    }

    /* untuk di bagian pembungkus tentang dan tema */
    #about {
        max-width: 100%;
        /* Menetapkan lebar maksimum dari bagian about */
        margin: 5px;
        /* Menambahkan margin di sekitar bagian about */
        background-color: #DBB5B5;
        /* Menetapkan warna latar belakang bagian about */
        padding: 11px;
        /* Menambahkan padding di dalam bagian about */
        border-radius: 8px;
        /* Membulatkan sudut-sudut bagian about */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        /* Menambahkan bayangan ke bagian about */
    }

    /* untuk di bagian id tentang mende news*/
    #tentang {
        width: auto;
        /* Menetapkan lebar bagian tentang menjadi otomatis */
        background-color: #987070;
        /* Menetapkan warna latar belakang bagian tentang */
        border-radius: 15px;
        /* Membulatkan sudut-sudut bagian tentang */
        padding-top: 2px;
        /* Menambahkan padding di bagian atas bagian tentang */
        padding-bottom: 2px;
        /* Menambahkan padding di bagian bawah bagian tentang */
        margin-bottom: 5px;
        /* Menambahkan margin di bagian bawah bagian tentang */
    }

    /* untuk di bagian teks h1 di id tentang */
    #tentang h1 {
        margin: 20px;
        /* Menambahkan margin di sekitar elemen h1 di dalam bagian tentang */

    }

    /*untuk di bagian teks p di id tentang*/
    #tentang p {
        margin: 25px;
        /* Menambahkan margin di sekitar elemen p di dalam bagian tentang */
    }

    /*untuk di bagian id tema */
    #tema {
        width: auto;
        /* Menetapkan lebar bagian tema menjadi otomatis */
        background-color: #987070;
        /* Menetapkan warna latar belakang bagian tema */
        border-radius: 15px;
        /* Membulatkan sudut-sudut bagian tema */
        padding-top: 2px;
        /* Menambahkan padding di bagian atas bagian tema */
        padding-bottom: 2px;
        /* Menambahkan padding di bagian bawah bagian tema */
    }

    /*untuk di bagian id tema teks h1 nya*/
    #tema h1 {
        margin: 25px;
        /* Menambahkan margin di sekitar elemen h1 di dalam bagian tema */
    }

    /*untuk di bagian id tema teks p nya*/
    #tema p {
        margin: 25px;
        /* Menambahkan margin di sekitar elemen p di dalam bagian tema */
    }

    /*untuk di pembungkus id footer-content dan id copyright*/
    footer {
        background-color: #DBB5B5;
        /* Menetapkan warna latar belakang footer */
        height: 45px;
        /* Menetapkan tinggi footer */
        width: auto;
        /* Menetapkan lebar footer menjadi otomatis */
        margin: 10px;
        /* Menambahkan margin di sekitar footer */
        padding: 20px;
        /* Menambahkan padding di dalam footer */
        border-radius: 5px;
        /* Membulatkan sudut-sudut footer */
    }

    /*untuk mengatur id footer-contet yang di bungkus footer dan membungkus login*/
    #footer-content {
        display: flex;
        /* Menggunakan layout flexbox untuk konten footer */
        justify-content: space-around;
        /* Membiarkan item-item footer melanjutkan ke baris berikutnya */
        flex-wrap: wrap;
        /* Mendistrisikan ruang di sekitar item-item footer */
        background-color: #987070;
        /* Menetapkan warna latar belakang konten footer */
        padding: 8px;
        /* Menambahkan padding di dalam konten footer */
        border-radius: 5px;
        /* Membulatkan sudut-sudut konten footer */
    }

    /*menuju ke bagian dalam dari footer-contet ke link nya */
    #footer-content a {
        margin: 5px;    /* Menambahkan margin di sekitar link footer */
        color: #F1E5D1;  /* Menetapkan warna link footer */
        text-decoration: none;  /* Menghapus garis bawah dari link footer */
        font-weight: bold;  /* Menjadikan link footer tebal */
    }

    /*unutuk mengatur id copyright yang terbungkus footer*/
    #copyright {
        color: black;   /* Menetapkan warna teks untuk bagian copyright */
        border-radius: 1px; /* Membulatkan sedikit sudut-sudut bagian copyright */
        font-size: 12px;     /* Menetapkan ukuran font untuk teks copyright */
        background-color: #DBB5B5;  /* Menetapkan warna latar belakang bagian copyright */
        box-shadow: 0px 0px 0px 1px;     /* Menambahkan bayangan seperti garis batas ke bagian copyright */
        text-align: center; 
    }